mixin intro()
  .intro
    .container
      h1.title.intro__title #[<span class="title__blue">Lorem ipsum</span> dolor sit ametconsectetur <span class="title__blue">adipiscing</span>]
      p At vero eos et accusamus et iusto odio dignissimos ducimus!
      ul
        li
          p Totam rem aperiam eaque ipsa
          p Sit voluptatem accusantium doloremque laudantium
          p Sed ut perspiciatis, unde omnis iste natus error
      button.btn.btn--blue заказать
      button.btn подробнее
