mixin ordering()
  .ordering
    .container
      h2 Оформление  Заказа
      p Перед заполнением формы ознакомьтесь с нашей схемой работы!
      ul.stages
        li.stages__item.stage
          .stage__icon
          .stage__description
        li.stages__item.stage
          .stage__icon
          .stage__description
        li.stages__item.stage
          .stage__icon
          .stage__description
        li.stages__item.stage
          .stage__icon
          .stage__description
        li.stages__item.stage
          .stage__icon
          .stage__description
        form(action="#")
          .input
          .input
          .input
          .input
          .input
          button(type="submit")
