.btn {
  position: relative;
  display: inline-flex;
  vertical-align: center;
  justify-content: center;
  align-items: center;

  font-size: 13px;
  letter-spacing: 0.1px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;

  color: $color-black-russian-text;

  padding: 14px 20px 10px;

  background-color: $color-default-white;
  border: solid 1px $color-dolphin;
  border-radius: 4px;
  cursor: pointer;

  isolation: isolate;
  transition: opacity $trans-default, color $trans-default;

  user-select: none;

  @include vp-767 {
    padding: 12px 20px 10px;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: $color-summer-sky;
    border-radius: 2px;
    inset: 0;

    scale: 0 1;
    transform-origin: right;
    transition: scale $trans-default;
  }

  &--red {
    background-color: $color-torch-red;
  }

  &--blue {
    color: $color-default-white;
    background-color: $color-summer-sky;
    border-color: $color-default-white;

    &::after {
      background: $color-default-white;
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
    color: $color-default-white;

    &::after {
      transform-origin: left;
      scale: 1 1;
    }
  }

  &--blue {
    @include hover-focus {
      color: $color-black-russian-text;
    }
  }
}
