.btn {
  display: inline-flex;
  vertical-align: center;
  justify-content: center;
  align-items: center;

  font-size: 13px;
  letter-spacing: 0.1px;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;

  color: $color-black-russian-text;

  padding: 14px 20px 10px;

  background-color: $color-default-white;
  border: solid 1px $color-dolphin;
  border-radius: 4px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &--blue {
    color: $color-default-white;
    background-color: $color-summer-sky;
    border-color: $color-default-white;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
