.btn {
  display: inline-flex;
  color: $color-black-russian-text;

  padding: 10px 20px;

  background-color: $color-default-white;
  border: solid 1px $color-dolphin;
  border-radius: 4px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &--blue {
    color: $color-default-white;
    background-color: $color-summer-sky;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
