.footer {
  font-size: 13px;
  padding: 30px 0;
  background-color: $color-blue-zodiac;
}

.footer__content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1023 {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.footer__copyrite {
  flex-shrink: 0;

  color: $color-default-white;
  margin-right: 10px;

  @include vp-1023 {
    margin-top: 10px;
  }
}

.footer__links {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 0 0 50px;

  @include vp-1023 {
    justify-content: flex-start;
    align-items: flex-start;

    padding: 0;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__payment-link {
  padding: 0 19px 0 0;
  margin-left: 19px;
  margin-top: 5px;
  transition: color $trans-default;

  @include vp-767 {
    padding-left: 0;
    margin-top: 5px;
  }

  &:first-child {
    padding-left: 0;
  }
}


.footer__payment,
.footer__contacts {
  display: flex;
  flex-wrap: wrap;

  @include vp-1023 {
    flex: 1 0 auto;
    justify-content: flex-start;
  }
}


.footer__payment {
  position: relative;
  justify-content: flex-start;
  padding: 0 28px 0 22px;
  margin-top: -5px;
  margin-left: -19px;

  @include vp-1023 {
    padding-left: 0;
  }

  @include vp-767 {
    flex-direction: column;
    padding-bottom: 15px;
    padding-left: 0;
    margin-top: -5px;
  }

  &::after, &::before {
    content: "";
    position: absolute;
    height: 63%;
    top: 6px;
    width: 1px;
    background-color: $color-silver;

    @include vp-767 {
      display: none;

    }
  }

  &::before {
    right: 0;
  }

  &::after {
    left: 0;

    @include vp-1023 {
      display: none;
    }
  }

  svg {
    margin-top: -4px;
  }
}

.footer__contacts {
  flex:  0 auto;
  padding-left: 10px;

  @include vp-767 {
    flex-direction: column;
    padding-bottom: 15px;
    padding-left: 0;
  }

  svg {
    margin-top: -4px;
    transition: color $trans-default;
  }
}

.footer__contacts-link:not(:last-child) {
  padding-right: 47px;
}
