// min-height 848
.intro {
  margin-top: -100px;
  padding: 176px 0 140px;

  background-color: $color-default-white;
  background: no-repeat center/cover url("../img/content/intro.jpg");
  @include retina {
    background: no-repeat center/cover url("../img/content/intro@2x.jpg");
  }

  &__title {
    margin-left: -2px;
    line-height: 1.2em;
  }
}
