.link {
  display: flex;
  align-items: center;

  font-family: $ff-regular;
  font-size: 13px;
  font-weight: 400;

  color: $color-default-white;

  svg {
    color: $color-summer-sky;
    margin-right: 10px;
  }

  &--gray {
    color: silver;
  }
}
