.list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    padding: 0 0 0 16px;
    line-height: 1em;

    &::before{
      content: "";
      position: absolute;
      top: 0.6em;
      left: 0;
      line-height: 0;

      height: 2px;
      width: 5px;

      background: $color-black-russian-text;
    }
  }
}
