.stages {
  position: relative;
  display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(209px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;

  /*&::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 6px; !* diametre *!
    width: 80%;
    background:
      radial-gradient(circle closest-side, $color-silver-lighter 90%, $color-transparent)
      0/26px 100%; !* 14px = 6px + 8px *!
  }*/
}
