mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Бизнес"
      },
      {
        href: "#",
        text: "О нас"
      },
      {
        href: "#",
        text: "Цены"
      },
      {
        href: "#",
        text: "Оформить заказ"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        div.header__logo
          img(src="img/svg/logo.svg" alt="LoremIpsum.Net" width="245" height="24")
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          img(src="img/svg/logo.svg" alt="LoremIpsum.Net" width="245" height="24")
      //- for open menu nav.main-nav.main-nav--menu-open
      nav.main-nav
        button.main-nav__toggle.burger.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active=link.text
                else
                  a.main-nav__link(href=link.href)=link.text
